html {
    font-size: 1rem;
    font-family: times, serif;
    line-height: 1.2;
    background-color: #d29eff;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    max-width: 60%;
    margin: 0 auto;
}

#site-header{
    justify-content: center;
    align-items: center;
    text-align: center;
}

hr.divider {
    width: 100%;
    border: none;
    border-top: 2px dotted #8c8b8b;
    height: 1px;
    line-height: 1;
}

#site-header #initial {
    /* allign half a character lower */
    vertical-align: -0.2em;
}

#site-header h1 {
    font-family: "times new roman", times, serif;
    font-size: 2.5rem;
    color: #280340;
    margin: 0;
    padding: 0;
}

#site-footer {
    color: #280340;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 0;
}

.links {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    margin: auto;
    padding: 0;
    list-style-type: none;
}

.links li {
    margin: 0 10px;
}

p.discription {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0.6rem;
}

h3.post-title {
    margin-bottom: 0;
}

.meta {
    display: flex;
    flex-direction: row;
}

ul.meta {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.meta li {
    padding: 10px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-bottom: 0;
    list-style-type: none;

    font-size: 0.8rem;
}


.meta li:first-child {
    padding-left: 0;
    margin-left: 0;
}

.excerpt p {
    margin-top: 0;
    padding-top: 0.3rem;
}

